<% title_tag t('pages.wiki_index') %>

<div class="row">
  <%= render 'sidebar' %>

  <div class="col-md-9">
    <div class="card">
      <div class="card-header hide-ios"><%= t('pages.wiki_index') %></div>
      <div class="card-body">
        <ul>
          <% @pages.each do |item| %>
            <li><%= page_title_tag(item) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
